.login {
  width: 30% !important;
}
.App {
  background: rgb(1, 34, 3);
  background: linear-gradient(
    270deg,
    rgba(1, 34, 3, 1) 0%,
    rgba(3, 217, 139, 1) 50%,
    rgba(14, 98, 19, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.login.container {
  background-color: rgba(255, 255, 255, 0.2); /* Add white transparency */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
